@use "./functions" as *;
/*Colors*/
$skeleton_colors: (
  "background": (
    "default" #1e1e1e,
    "cart" #282727,
    "cart2" #f7f7f7,
  ),
  "text": (
    "default" #969696,
    "main" #505050,
    "light" #2e2e2e,
  ),
);

$colors_base: (
  "primary": #282727,
  "secondary": #f21305,
  "accent": #d40404,
  "error": #dc3545,
  "warning": #ffc107,
  "info": #0dcaf0,
  "success": #198754,
  "natural": #7c7c7c,
);

:root {
  --color-secondary-400: #f25c05 !important;
}

/*Border Radius*/
$radius: 1rem;
$radius_sm: 0.25rem;

/*Borders*/
$border_1: solid 1px var(--color-primary);

/*Transitions*/
$transition: 0.3s ease;

/*Box shadow*/
$shadow: 0 0 0.5rem #{rgba(145, 145, 145, 0.25)};
$shadow_sm: 0 0 0.25rem #{rgba(145, 145, 145, 0.15)};
$shadow_info: 0 0.5rem 0.6rem 0 #{rgba(0, 0, 0, 0.25)};

/*Typography
for ex:
make_font_list(font-size , font-weight , line-height);
*/
$typo: (
  "title": make_font_list(156px, 600px, 189px),
  "title-sm": make_font_list(52px, 600px, 64px),
  "title-1": make_font_list(76px, 600px, 88px),
  "title-2": make_font_list(48px, 600px, 88px),
  "h1": make_font_list(2rem, 700),
  "h2": make_font_list(1.5rem, 700),
  "h3": make_font_list(1.25rem, 700),
  "h4": make_font_list(1.1rem, 700),
  "h5": make_font_list(1rem, 700),
  "h6": make_font_list(1rem, 700),
  "body": make_font_list(1rem, 500, 1.75),
  "body-sm": make_font_list(1.2rem, 500),
  "caption": make_font_list(0.85rem, 500),
  "caption-sm": make_font_list(36px, 700, 44px),
  "caption-sm-1": make_font_list(28px, 500, 32px),
  "body-1": make_font_list(16px, 500, 28px),
  "body-2": make_font_list(20px, 500, 40px),
);

/*Breakpoints*/
$breakpoints: (
  "xxl": 1440px,
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
  "xs": 480px,
  "xxs": 320px,
);

/*Container Sizes*/
$content_max_width: 1440px;
$paragraph_max_width: 1000px;
$breakout_max_width: 1600px;
$padding_inline: 1rem;

/*General*/
$button_padding_ratio: 1;
$button_padding_base_block: 0.375rem;
$button_padding_base_inline: 0.75rem;

$input_padding_ratio: 1.25;
$input_padding_base_block: 0.5rem;
$input_padding_base_inline: 0.75rem;
