@use "../utils/" as *;

.comments-content {
  //@include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));
  h6 {
    // @include font_style(body);
    color: $color-primary-100;
  }

  #comment-list {
    .comment {
      padding-block: PxToRem(24);
      //   @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(4));
      &:not(:last-child) {
        border-bottom: gray;
      }
      p,
      .reply {
        color: $color-primary-100;
      }

      .comment-meta {
        a {
          &:first-child {
            //     @include font_style(caption2);
            color: $color-primary-100;
          }
        }
      }
      .reply {
        display: none;
      }
    }

    .comment {
      border-bottom: unset;
      width: 90%;
      align-self: flex-end;
      .comment {
        width: 80%;
      }
    }
    .comment-author {
      //@include d_flex(row, flex-start, stretch, nowrap, false, PxToRem(24));
      img {
        width: PxToRem(60);
        height: PxToRem(60);
        border-radius: 50%;
      }
      .says {
        display: none;
      }
    }
  }
}
#respond {
  //@include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(16));
  #reply-title {
    small {
      #cancel-comment-reply-link {
        //@include font_style(caption2);
        color: $color-primary-100;
        margin-left: PxToRem(8);
      }
    }
  }
  form {
    //@include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(16));
    textarea {
      resize: vertical;
    }
  }
}
//}
