@use "../utils/" as *;

.comments-content {
  h6 {
    color: $color-primary-100;
  }
  #comment-list {
    .edit-link {
      display: none;
    }
    .fn {
      margin: 20px;
      color: $color_primary_100;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      @include media_query("lg", "max") {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }

    .comment {
      p,
      .reply {
        color: $color-primary-100;
      }

      .comment-meta {
        display: flex;
        justify-content: space-between;
        align-items: end;
        @include media_query("lg", "max") {
          margin: 0px;
          display: block;
        }
      }
      .comment-metadata {
        a {
          color: $color_secondary_400;
        }
      }

      .reply {
        display: none;
      }
    }

    .comment {
      border-bottom: unset;
      width: 50%;
      align-self: flex-end;
      padding: 32px;
      border-radius: 16px;

      @include media_query("lg") {
        width: 92%;
        align-items: center;
        justify-content: center;
      }

      .comment {
        width: 80%;
      }
    }
    .comment-author {
      img {
        width: PxToRem(60);
        height: PxToRem(60);
        border-radius: 50%;
      }
      .says {
        display: none;
      }
    }
  }
  .comment-content {
    display: flex;
    flex-wrap: wrap;
    @include media_query("lg", "max") {
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
    }
  }
}

.comment-list > .comment {
  background-color: $color_primary;
  margin: 20px;
}

.comment:nth-child(even) {
  transform: translateX(30%);
  @include media_query("lg") {
    transform: translateX(0%);
  }
}

#respond {
  #reply-title {
    small {
      #cancel-comment-reply-link {
        color: $color-primary-100;
        margin-left: PxToRem(8);
      }
    }
  }
  form {
    textarea {
      resize: vertical;
    }
  }
}
.comment-form-cookies-consent {
  display: none;
}
.comment-form-url {
  display: none;
}
.comment-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  .comment-input {
    @include media_query("lg") {
      width: 100%;
      gap: 16px;
    }
    order: 3;
    padding: 20px;
    width: 70%;
    border-radius: 16px;
    background: $color_primary;
  }
  .comment-form-author {
    @include media_query("lg") {
      width: 100%;
    }
    order: 1;
    background: $color_primary;
    padding: 20px;
    width: 70%;
    border-radius: 16px;
  }
  .comment-form-email {
    @include media_query("lg") {
      width: 100%;
    }
    order: 2;
    background: $color_primary;
    padding: 20px;
    width: 70%;
    border-radius: 16px;
  }
  .button-add-comment {
    order: 4;
    background: linear-gradient(107.24deg, #f25c05 -11.52%, #f21305 129.61%);
    border-radius: 16px;
    background: $color_primary;
    padding: 20px;
    @include media_query("lg", "min") {
      width: 108px;
      height: 64px;
      margin-inline: 65%;
    }
    @include media_query("lg") {
      margin-inline: 0%;
      width: 100%;
    }
  }
}
