@use "../utils" as *;

.landmark-archive-wrapper {
  @include media_query("sm") {
    --col: 1;
  }
}

@include media_query("md", "min") {
  .landmark-image-wrapper {
    .landmark-img {
      width: 100%;
      transition: opacity $transition;
    }

    .landmark-image-text {
      opacity: 0;
      transition: opacity $transition;
    }

    &:hover {
      .landmark-img {
        opacity: 0.5;
      }

      .landmark-image-text {
        z-index: 999;
        opacity: 1;
      }
    }
  }
}
