@use "../utils/" as *;

main.contact-us {
  overflow: hidden;
}
.form-element {
  box-shadow: $shadow_info;
}
.contact-us-image {
  &-wrapper {
    transform: scale(1.5) translateY(3rem);
    position: relative;
    z-index: -1;
  }
  @include media_query("xs", "min") {
    &-wrapper {
      transform: scale(2) translateY(5rem);
      margin-block-end: -15rem;
      overflow: hidden;
      position: relative;
      z-index: -100;
    }
  }
  @include media_query("xs") {
    &-wrapper {
      transform: scale(2) translateY(3rem);
      margin-block-end: -8rem;
      overflow: hidden;
      position: relative;
      z-index: -100;
    }
  }
}
.send-contact-us {
  background: linear-gradient(107.24deg, #f25c05 -11.52%, #f21305 129.61%);
  @include media_query("xs") {
    width: 100%;
  }
}
